@media all and (max-width: 1000px){
    .top-wrapper h1{
        font-size:32px;
    }
    .history{
        width: 50%;
        margin-bottom:50px;
    }
    .linebook h1{
        font-size:20px;
    }
    footer{
        text-align: center;
    }
}
@media all and (max-width: 670px){
    .header-right{
        display: none;
    }
    .meni-icon{
        display: block;
    }
    .top-wrapper .btn{
        width:100%;
    }
    .facebook{
        margin-bottom:10px;
    }
    .top-wrapper{
        text-align: left;
    }
    .top-wrapper h1{
        font-size:24px;
    }
    .top-wrapper p{
        font-size:14px;
    }
    .history{
        width:100%;
    }
    .footer{
        text-align: center;
    }
}